.base {
    position: sticky;
    top: 0;
    min-height: var(--header-height);
    background: var(--white);
    z-index: var(--header-z-index);
    padding: 1rem;
    border-bottom: 1px solid var(--gray50);

    .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
    }
}
