:root {
    --line-height: 1.4;
    --max-width: 1440px;
    --border-radius: 14px;
    --header-height: 64px;
    --bottom-navbar-height: 64px;
    --drawer-z-index: 998;
    --header-z-index: 999;
    --bottom-navbar-z-index: 999;
    --modal-z-index: 1000;
    --white: #ffffff;
    --gray50: #f6f6f6;
    --gray100: #e7e7e7;
    --gray200: #d1d1d1;
    --gray300: #b0b0b0;
    --gray400: #888888;
    --gray500: #6d6d6d;
    --gray600: #5d5d5d;
    --gray700: #4f4f4f;
    --gray800: #454545;
    --gray900: #3d3d3d;
    --gray950: #242424;
    --black: #000000;
    --primary50: #f3faf3;
    --primary100: #e2f6e4;
    --primary200: #c7ebcb;
    --primary300: #9bdaa2;
    --primary400: #68c072;
    --primary500: #43a44f;
    --primary600: #32853c;
    --primary700: #2b6a32;
    --primary800: #26552c;
    --primary900: #214627;
    --primary950: #0d2611;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: var(--line-height);
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--gray50);
}

main {
    flex: 1;
    overflow-y: auto;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    background: var(--white);
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary600);
}
