.actions {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;

    a {
        color: var(--black);
    }

    .action {
        display: flex;
        align-items: center;
        gap: .25rem;
        padding: .6rem 1.2rem;
        border: 1px solid var(--gray100);
        border-radius: var(--border-radius);
        cursor: pointer;

        &:hover {
            background: var(--gray50);
        }

        &.accent {
            background: var(--primary600);
            color: var(--white);

            &:hover {
                background: var(--primary700);
            }
        }

        &.disabled {
            pointer-events: none;
            background: var(--primary300);
        }

        .icon {
            width: 1rem;
            height: 1rem;
        }
    }
}
